<% if DirectMessage.where(:sender_id => @direct_message.sender_id).where(:recipient_id => @direct_message.recipient_id).count == 1 %>
	$.get('/direct_messages/' + <%= @direct_message.id %> + '.json', function(data) {	
	
		var html_output = "";
		html_output += "<h4>" + data.recipient + "</h4>";
		html_output += "<div id='" + <%= @direct_message.recipient_id %> + "'></div><br />";		
		$(html_output).hide().appendTo("#direct_messages").fadeIn(1000);

		/* Add the new message to the bottom of the correct user id div */
		$("<%= escape_javascript(render @direct_message) %>").hide().prependTo("#" + <%= @direct_message.recipient_id %>).fadeIn(100);

		/* Reset the message form */
		$("#new_direct_message")[0].reset();
	});
<% end %>

/* Add the new message to the bottom of the correct user id div */
$("<%= escape_javascript(render @direct_message) %>").hide().prependTo("#" + <%= @direct_message.recipient_id %>).fadeIn(1000);

/* Reset the message form */
$("#new_direct_message")[0].reset();