<h1>Listing discussions</h1>

<br />
<%= link_to 'New Discussion', new_discussion_path, :class => "btn btn-primary" %>

<br />

<br />
<table class="table">
  <thead>
	<tr>
    <th>Title</th>
    <th>Last message</th>
    <th>Last contributor</th>
		<th>Creator</th>
		<th>Group</th>
  </tr>
	</thead>
	<tbody>
<% @discussions.each do |discussion| %>
  <tr>
    <td><%= link_to discussion.title, discussion %></td>
    <td><%= discussion.last_message %></td>
		<td><%= discussion.last_contributor%></td>
		<td><%= discussion.user.name %></td>
		<td><%= discussion.group.name %></td>  
  </tr>
<% end %>
</tbody>
</table>
