<h2><%= @discussion.title %></h2>
<%= link_to 'Back', :back, :class => 'btn btn-primary pull-right' %>
<br />
<br />
<div class="row-fluid">
  <div class="span12" id="initial-message">
		<strong>Initial message:</strong>
		<br />
		<br />
		<p>By <strong><%= @initial_message.user.name %></strong> on <%= @initial_message.created_at.strftime("%B %d %H:%M") %></p>
		<p><strong><%= @initial_message.body %></strong></p>
	</div>
</div>
<br />

<div class="row-fluid">
  <div class="span6" id="discussion-messages" >
		<%= render :partial => 'discussion_message', :collection => @messages.reverse %>
	</div>
	<div class="span6">
		<strong>Write new message:</strong>
		<%= form_for DiscussionMessage.new, :remote => true do |f| %>			
			<%= f.text_area :body, :rows => 5 %><br />
			
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :discussion_id, :value => @discussion.id %>
			<%= f.submit "Add message", :class => "btn btn-primary" %>		
		<% end %>
	</div>
</div>

<br />

