<br />
<div class="row-fluid">
	<div class="span4">
		<%= simple_form_for(@group) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :name %>
		    <%= f.input :description %>
		    <i>Show your group to all users?</i><%= f.input :public %>
		  </div>
			<br />
		  <%= f.button :submit, :class => "btn btn-primary" %>

		<% end %>		
	</div>
	<div class="span8">
	  <h3>Users in groups</h3>
	  <table class="table">
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Email</th>
		<th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @users.each do |user| %>
	      <tr id="<%= user.id %>">
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<td>
		  <%= link_to remove_user_path(:user_id => user.id, :group_id => @group.id), :confirm => "Do you want to remove this person from your group?", :remote => true, :method => :post do %>
		  <i class="icon-remove"></i>
		  <% end %>		
		</td>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>		
	</div>
	<div class="span8">
	  <h3>Invite user to group</h3>
	  <br />
	  <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
	  <%= devise_error_messages! %>

	  <% resource.class.invite_key_fields.each do |field| -%>
	  <%= f.input field %>

	  <%= f.hidden_field :groups, :value => params[:id] %>
	  <% end -%>
	  <br />
	  <%= f.submit "Invite user" , :class => "btn btn-primary" %>
	  <% end %>

	</div>
</div>

