<h2><%= @group.name %></h2>
<br />
<p>
  <b>Description:</b>
  <%= @group.description %>
</p>
<br />
<table class="table">
  <thead>
	<tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
	</thead>
	<tbody>
<% @users.each do |user| %>
  <tr id="<%= user.id %>">
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
    	<%= link_to remove_user_path(:user_id => user.id, :group_id => @group.id), :confirm => "Do you want to remove this person from your group?", :remote => true, :method => :post do %>
				<i class="icon-remove"></i>
			<% end %>		
    </td>
  </tr>
<% end %>
	</tbody>
</table>