<% if workout_tip.nil?%>
	<h3><%= t(:working_out_too_much) %></h3>
<% else %>
<h3><%= workout_tip.title %></h3>
<p><%= workout_tip.body %></p>
<br />
<p class="pull-right"><%= t(:tip_by) %>: <%= workout_tip.author %></p>

<% end %>
