<div class="visible-desktop"></div>
<%= high_stock("my_id", @timeline) %>
<div class="row-fluid">
<%= timeline %>
</div>
<div class="row-fluid">
	<div class="span4">
		<center>
    <%= link_to image_tag("calendar.png", :alt => "Calendar", :title => "Calendar", :class => "dashboard-icon"), events_path %>
  	</center>
	</div>
  <div class="span4">
		<center>
    <%= link_to image_tag("messages.png", :alt => "Direct Messages", :title => "Direct Messages", :class => "dashboard-icon"), direct_messages_path %>
		</center>
  </div>
  <div class="span4">
		<center>
    <%= link_to image_tag("discussion.png", :alt => "Discussions", :title => "Discussions", :class => "dashboard-icon"), discussions_path %>
  	</center>
	</div>
</div>