<br />
<div class="row-fluid">
  <div class="span5">
			<br />
			<center><div class="sign-up-container"><p><%= link_to t(:sign_up), sign_up_path, :class => "btn btn-success btn-large" %><br /><br /></p></div>
				<p><%= t(:sign_in_through) %>:</p>
				<p><%= link_to image_tag("facebook.png", :class => "login-images", :alt => "Sign in with Facebook", :title => "Sign in with Facebook"), user_omniauth_authorize_path(:facebook) %>
				<%= link_to image_tag("google.png", :class => "login-images", :alt => "Sign in with Google", :title => "Sign in with Google"), user_omniauth_authorize_path(:google_oauth2) %>
				<%= link_to image_tag("linkedin.png", :class => "login-images", :alt => "Sign in with LinkedIn", :title => "Sign in with LinkedIn"), user_omniauth_authorize_path(:linkedin) %></p>
			<p><%= t(:or) %>:</p>	
			<p><%= link_to t(:sign_in_email), new_user_session_path, :class => "btn btn-primary btn-large" %></p></center>
	</div>
	<div class="span7" >
		<h2><%= t(:workout_tip_of_the_day) %>:</h2>
		<div id="workout-tip">
			<%= render :partial => "workout_tip", :object => WorkoutTip.get_tip %>
			<br />
			<br />
			<p class="pull-right"><%= link_to t(:All) + " " + t(:workout) + " " + t(:tip), workout_tips_path, :class => "btn btn-primary" %></p>
			<br />
			<br />
		</div>
	</div>
</div>
<br />
<br />
<br />
<br />
<br />

<div class="row-fluid">
  <div class="span4" id="sub-fields">
	<div class="hero-unit">
		<h1><%= link_to t(:What) + "?", what_path %></h1>
		<p class="info-boxes"><%= t(:group_based) %></p>
	</div>	
	</div>
	<div class="span4" id="sub-fields">
			<div class="hero-unit">
		<h1><%= link_to t(:Who) + "?", who_path %></h1>
		<p class="info-boxes">Communities and Cooporations</p>
	</div>
	</div>
	<div class="span4" id="sub-fields">
			<div class="hero-unit">
		<h1><%= link_to t(:How) + "?", how_path %></h1>
		<p class="info-boxes"><%= t(:sign_up) %>, <%= t(:invite_friends) %>, <%= t(:work_out) %></p>
	</div>
	</div>
</div>
<br />
<hr />
<div class="row-fluid">
  <center><%= t(:designed_and_implemented) %><a href="http://olesennielsen.dk">Olesen &amp; Nielsen</a></center>
</div>