<h2>Group sign up</h2>
<br />
<p>On this page you can sign up your group to ourworkouts.com</p>

<p>Use one of the services below to sign in and create your groups admin user, you will be required to enter credit card information later in the process through PayPal:</p>
<br />
<p>Group name:<br />
<%= text_field_tag "subject" %></p>

<br />
<br />
<p><%= link_to image_tag("facebook.png", :height => "70", :alt => "Sign in with Facebook", :title => "Sign in with Facebook"), user_omniauth_authorize_path(:facebook), :id => "facebook-link" %>
<%= link_to image_tag("twitter.png", :height => "70", :alt => "Sign in with Twitter", :title => "Sign in with Twitter"), user_omniauth_authorize_path(:twitter), :id => "twitter-link" %>
<%= link_to image_tag("google.png", :height => "70", :alt => "Sign in with Google", :title => "Sign in with Google"), user_omniauth_authorize_path(:google_oauth2), :id => "google-link" %>
<%= link_to image_tag("linkedin.png", :height => "70", :alt => "Sign in with LinkedIn", :title => "Sign in with LinkedIn"), user_omniauth_authorize_path(:linkedin), :id => "linkedin-link" %></p>

<br />

<p>or you can sign in by using an email and entering a password <%= link_to "here", email_sign_up_path %></p>