<h2><%= t(:What) %>?</h2>
<br />

<div class="row-fluid">
  <div class="span6">
		<p><%= t(:we_at_o_n)%></p>
		
		<p><%= t(:ow_com_advantages) %></p>

		<p><%= t(:calendar_description) %></p>
	</div>	
	<div class="span6">
		<div class="thumbnail">
		<%= image_tag("andersemiltraining.jpg")  %>
		<p><%= t(:training_together) %></p>
		</div>
	</div>
</div>
<br />

<p></p> 
