<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Create a new Event</h3>
  </div>
  <div class="modal-body">
    <%= form_for @event do |f| %>
    <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
	<% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
	<% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :group %>
      <%= f.collection_select :group_id, @groups, :id, :name %>
    </div>
    <br />
    <div class="field">
      All Day: <%= f.check_box :all_day %>
    </div>
    <div class="field">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time %>
    </div>
    <div class="field">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :size => "20x12" %>
    </div>

  </div>
  <div class="modal-footer">
      <%= f.submit :class => "btn btn-primary"  %>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
  <% end %>
</div>
