<h2><%= @event.title %></h2>
<br />
<p>Organized by <strong><%= @event.group.name %></strong> and starts <strong><%= @event.start_time.strftime("%B %d %H:%M") %></strong></p>

<br />
<div class="row-fluid">
	<div class="span6">
		<p><b>Description:</b> <%= @event.description %></p>
	</div>
</div>
<br />
<hr />
<div class="row-fluid">
	<div class="span6">
		<h3>Messages</h3>
		<br />
		<div id="event-message-form">
			<strong>Write new message:</strong>
			<%= form_for EventMessage.new, :remote => true do |f| %>			
				<%= f.text_area :body, :rows => 5 %><br />
			
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :event_id, :value => @event.id %>
				<%= f.submit "Add message", :class => "btn btn-primary" %>		
			<% end %>
		</div>
		
		<button id="show-event-messages-form" class="btn btn-primary pull-right">Add message</button>

		<br />
		<br />
		<div id="event-messages">
			<%= render :partial => 'event_message', :collection => @messages.reverse %>
		</div>
	</div>
	
	<div class="span6">
		<h3>Entries</h3>
		<br />
		<div id="join-button">
			<% if @current_user_entry.empty? %>
				<%= button_to "Join", {:action => "add_entry", :id => @event.id }, :remote => true, :id => "join", :class => "btn btn-primary" %>
			<% else %>
				<p>You've already joined</p>
			<% end %>
		</div>
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Joined on</th>
			</thead>
			<tbody id="entries">
				<% @entries.each do |entry| %>
					<tr>
						<td><%= entry.user.name %></td>
						<td><%= entry.created_at.strftime("%B %d %H:%M") %></td>
					</tr>
				<% end %>	
			</tbody>
		</table>
	</div>
</div>
