<h1>Listing event_messages</h1>

<table>
  <tr>
    <th>Event</th>
    <th>User</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_messages.each do |event_message| %>
  <tr>
    <td><%= event_message.event %></td>
    <td><%= event_message.user %></td>
    <td><%= event_message.body %></td>
    <td><%= link_to 'Show', event_message %></td>
    <td><%= link_to 'Edit', edit_event_message_path(event_message) %></td>
    <td><%= link_to 'Destroy', event_message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event message', new_event_message_path %>
