<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event_message.event %>
</p>

<p>
  <b>User:</b>
  <%= @event_message.user %>
</p>

<p>
  <b>Body:</b>
  <%= @event_message.body %>
</p>


<%= link_to 'Edit', edit_event_message_path(@event_message) %> |
<%= link_to 'Back', event_messages_path %>
